accelerate>=1.13.0
aiohttp==3.13.5
anyio==4.13.0
codecarbon==3.2.6
datasets==4.8.4
evaluate==0.4.6
# flash-attn==2.8.3
huggingface-hub==1.9.0
jiwer==4.0.0
joblib==1.5.3
lxml
pydantic==2.12.5
sentencepiece==0.2.1
git+https://github.com/digicademy/svsal-poco
tensorboard==2.20.0
tokenizers==0.22.2
# torch==2.6.0
tqdm==4.67.3
transformers==5.5.0
# triton==3.2.0 ; platform_machine == 'x86_64' and sys_platform == 'linux'
wandb==0.25.1
